{% extends "base.html" %}

{% block content %}

<h2> Blog Posts </h2>

    <div class="blog">
    {% for entry in entries %}
    
    <p class="post-title"> 
        <a class="post-title" href="./blog?id={{entry.id}}"> 
            {{ entry.name }}
        </a>
    </p>
    <p class="post-content"> 
        {{ entry.content }} 
        
    </p>
    <p class="post-author"> Written By:
        <a href="/blog?user={{entry.owner.email}}">
            {{ entry.owner.email }} 
        </a>
    </p>
    {% endfor %}
    </div>

{% endblock %}